@model IEnumerable<AllEvents.Models.Event>
@{
    ViewBag.Title = "Home Page";
}

<ul class="events">
    @foreach (var events in Model)
    {
        <li> 
            <div class="date">
                <div class="weekdays"> 
                    @events.DateTime.ToString("dddd")
                </div>
                <div class="day">
                    @events.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="creator">
                    @events.Creator.Name
                </span>
                <span class="eventType">
                    @events.EventType.Name
                </span>
             </div>
        </li>
    }

</ul> 