@model IEnumerable<AllEvents.Models.Event>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Upcaming Events</h2>

<ul class="events">
    @foreach (var events in Model)
    {
        <li>
            <div class="date">
                <div class="weekdays">
                    @events.DateTime.ToString("dddd")
                </div>
                <div class="day">
                    @events.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="creator">
                    @events.Location;      
                </span>
                <span class="eventType">
                    @events.EventType.Name
                </span>              
            </div>
        </li>
    }

</ul>


